/* selector universal borra todos los margenes q agrega el navegador */
* {
    margin: 0;
    padding:0;
    }

body { 
	background:#000000;
	font-family: 'Teko', serif;
	font-weight: 500;
	font-style: normal;
    }
/* 20 PX ARRIBA Y ABAJO Y AUTO PARA CENTRAR  */
header, .main, footer{
    
     width: 90%;
     max-width:1000px;
     margin:20px auto;
    }
/* OCULTAR EL CONTENIDO Q SOBREPASA EL CONTENEDOR -LIMPIA LOS FLOAT LEFT */

header nav{
     background: #FFFFFF;
     overflow:hidden;
    }
/* QUITAR PUNTOS EN LISTA   */
header nav ul{
     list-style: none;
    }

/* SE APILAN HACIA LA IZQUIERDA Y TODOS LOS ELEMENTOS SE AFECTAN  */
header nav ul li{
     float: left;
    }
/* DISPLAY BLOCK PODEMOS PERMITIR EL PADING HACIA ARRIBA Y ABAJO SINO SOLO FUNCIONA HACIA LOS LADOS  */
header nav ul li a{
      padding:10px 20px;
      display: block;
      color:#fff;
      text-decoration: none;
    }
/* CAMBIAR EL FONDO CUANDO PASA EL MAUSE  */
header nav ul li a:hover {
     background: #000000;
    }

 .main .articulos {
       width: 68%;
       margin-right:2%;
       float: left;
       }

.main .articulos article {
       padding:20px;
       background: #fff;
       margin-bottom:20px;
       }
/* border-box, el ancho y el alto se calculan teniendo en cuenta el contenido y también el border y el padding. Es decir, el border y el padding están incluidos en el ancho y alto.*/
aside{
       width: 30%;
       background: #fff;
       float: left;
       padding:20px;
       box-sizing:border-box;
       }
.redondo{
	display: block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
}
.redondo img{
width: 100%;
heigth: auto;
display: block;
border-radius: 50%;
}
.redondo:hover{
transform: scale(1.1);
box-shadow: 0 10px 8px rgba(0, 0, 0, 0.3);
background-color: #79FDF5;
}
.galeria{
display: flex;
overflow-x: auto;
gap: 10px;

}
.imagen{
      position: relative;
      flex-shrink: 0;
      width: 150px; /* Ajusta el ancho según sea necesario */
      height: 150px;
      border-radius: 8px;
      overflow: hidden;
      box-shadow: 0 9px 8px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
 .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
      cursor: pointer;
}
.imagen:hoover{

	transform: scale(3.2);
	box-shadow: 0 25px 16px rgba(0, 0, 0, 0.2);


}

.imagen:hover .overlay {
      opacity: 1;
}
    .imagen img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
.imagen-expandida{
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      object-fit: contain;
      background: rgba(0, 0, 0, 0.9);
      z-index: 1000;
      display: none;
      justify-content: center;
      align-items: center;

}
.cerrar-expansion{
      position: absolute;
      top: 10px;
      right: 10px;
      color: #fff;
      font-size: 20px;
      cursor: pointer;

}
.galeria1{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            align-items: center;
            padding: 20px;
	    scroll-snap-type: x mandatory;

}
.galeria1 img{
            width: 200px;
            height: 200px;
            margin: 10px;
            border-radius: 8px;
            object-fit: contain;
	    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275), 	    filter 0.3s ease-in-out;
        }

.galeria1 img:hover{
           transform: scale(1.2);
           filter: brightness(70%);
}


.galeria1.active img{
            transform: scale(1.2);
            filter: brightness(100%);

}

 @keyframes fadeAnimation {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }

        .fade-in {
            animation: fadeAnimation 0.5s ease-in-out;
        }
 .card {
            position: relative;
            width: 200px;
            height: 150px;
            margin: 10px;
            overflow: hidden;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            cursor: pointer;
            transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
        }

        .card:hover {
            transform: scale(1.05);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        }

        .card img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.3s ease-in-out;
        }

        .card:hover img {
            transform: scale(1.2);
        }

.boton1 {
      display: inline-block;
      padding: 10px 20px;
      font-size: 16px;
      font-weight: bold;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      border-radius: 5px;
      color: #fff;
      background-color: #ff0000;
      border: 2px solid #ff0000;
      transition: background-color 0.3s;
      overflow: hidden;

}

.boton1:hover{

background-color: #a60000;

}

.rip{
      position: relative;
      overflow: hidden;
}

.rip:after {
      content: '';
      position: absolute;
      border-radius: 50%;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 0, 0, 0.8);
      transform: scale(0);
      animation: ripple-animation 0.6s linear;

}

@keyframes rip-animation{

	to{

		transform: scale(8);
		opacity: 0;
}
}

.boton2{
      display: inline-block;
      padding: 15px 20px;
      font-size: 13px;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      border-radius: 25px; /* Borde redondeado */
      color: #fff;
      background: linear-gradient(to right, #990000, #660000); /* Degradado de colores */
      border: 2px solid #660000; /* Borde del botón */
      transition: background 0.3s; /* Transición suave al pasar el ratón */

}

.boton2:hover{
	
background: linear-gradient(to right, #660000, #990000); /* Cambio de colores en el degradado al pasar el ratón */
	
}

 /* Estilos del botón desplegable */

.btdown{

 position: relative;
 display: inline-block;

}

 /* Estilos del botón del desplegable */

.btbtn{
      padding: 10px 20px;
      font-size: 12px;
      font-weight: bold;
      cursor: pointer;Z
      border-radius: 5px;
      color: #fff;
      background: linear-gradient(to right, #990000, #660000); /* Degradado de colores */
      border: 2px solid #660000; /* Borde del botón */
      transition: background 0.3s; /* Transición suave al pasar el ratón */


}

.btbtn:hover{
	
background: linear-gradient(to right, #660000, #990000); /* Cambio de colores en el degradado al pasar el ratón */
	
}

/* Estilos del contenido desplegable */

.btdown-content{

      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0 8px 16px rgba(0,0,0,0.2);
      z-index: 1;

}

   /* Estilos de los enlaces del contenido desplegable */

.btdown-content a{

      padding: 12px 16px;
      display: block;
      text-decoration: none;
      color: #333;

}
  /* Estilos de los enlaces del contenido desplegable al pasar el ratón */
.btdown-content a:hover{

	background-color: #ddd;

}

/* Muestra el contenido desplegable cuando el mouse está sobre el botón */

.btdown:hover .btdown-content {
 display: block;
}

/* CLEAR:BOTH LIMPIAR EL FLOAT: LEFT */
footer{
       
       background: #000;
       color:#fff;
       clear:both;
       padding:10px 0px;
       text-align:center;
       }

/* Media queries para dispositivos móviles */
@media only screen and (max-width: 768px) {
    .container {
        padding: 10px; /* Ajuste el padding para dispositivos móviles */
    }

    .logo {
        font-size: 24px; /* Reducir el tamaño del logotipo para dispositivos móviles */
    }

    .navigation {
        display: none; /* Ocultar la navegación en dispositivos móviles */
    }

    .navigation li {
        display: block;
        margin-left: 0;
        margin-bottom: 10px;
    }

    .navigation li a {
        display: block;
        padding: 10px;
        border-radius: 5px;
    }

    footer {
        padding: 15px 0; /* Ajustar el padding del pie de página para dispositivos móviles */
    }

    main {
        flex-direction: column; /* Cambiar la dirección de los elementos principales a columna */
    }

    article, aside {
        flex-basis: 100%; /* Establecer el ancho completo en dispositivos móviles */
    }
}
